.heade {
    max-width: 440px;
    margin: 10px auto;
    padding: 0px;
    background-color: mediumturquoise;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #fff
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 580px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
}

.card::before {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}

.card::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}

.card::before {
    top: 0;
    right: 0;
    border-radius: 0 50px 0 100%;
}

.card::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 50px;
}

.card:hover::before,
.card:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: all 0.5s;
}

.card:hover:after {
    content: "주문을 시작할게요";
}
