/* styles/style.css */

/*index.html 이 참조함*/

/*바디의 스타일지정*/
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/*카드(배경)의 스타일 지정*/
.card {
    width: 440px;
    height: 580px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 50px;
    background: mediumturquoise;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;
    text-align: center;
    color: #f5f5f5;
}

/* 리스트 스타일 지정*/
ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 105px;
}

button { /* 버튼의 스타일 지정*/
    padding: 1.3em 3em;
    font-size: 20px;
    font-family: 'Jua', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #5f656a;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
  button:hover {
    background-color: #e54a4a;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
  
  button:active {
    transform: translateY(-1px);
  }